name: First Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Demo
        run: echo "java project"

      - name: Build image docker
        run : docker build -t demo-core-nlp:latest .